# Ignore native folders - EAS will generate them
ios/
android/

# Ignore other build artifacts
node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Ignore npm cache and functions
.npm-cache/
functions/
*.log

